.git
.gitignore
.env
.env.local
*.md
README.md
docker-compose.yml
Dockerfile
.dockerignore
app/tmp/*
app/webroot/img/*
!app/webroot/img/.gitkeep
app/webroot/files/*
products/*
node_modules
.vscode
.idea
