# Database Configuration
DB_HOST=tyre-app-mysql
DB_PORT=3306
DB_NAME=tyre_db
DB_USER=tyre_user
DB_PASSWORD=tyre_password

# MySQL Root Password
MYSQL_ROOT_PASSWORD=root_password

# phpMyAdmin Basic Auth
PHPMYADMIN_USER=admin
PHPMYADMIN_PASSWORD=admin_password

# Application Environment (dev/prod)
APP_ENV=dev

# Allowed Domain for Production (leave empty for dev, set domain for prod)
# Example: ALLOWED_DOMAIN=example.com
# В продакшне будет автоматически сгенерирован SSL сертификат и настроен редирект HTTP -> HTTPS
ALLOWED_DOMAIN=
